body {
    background: url('/static/img/arandano2.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el fondo */
    position: relative; /* Para asegurar que los elementos hijos puedan posicionarse */
    background-color: #ffe7bf; /* Color de fondo con el color deseado */
    min-height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
    display: flex;
    flex-direction: column; /* Disponer los elementos de manera vertical */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina los márgenes por defecto */
}

body::before {
    content: ''; /* Pseudo-elemento vacío */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 231, 191, 0.6);
    z-index: 0; /* Detrás del contenido */
}

/* Esto asegura que el contenido principal tenga un fondo blanco semi-translúcido para hacerlo legible */
.main-content {
    position: relative;
    z-index: 1; /* Para que el contenido quede por encima del fondo */
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-opaco para el contenido */
    padding: 20px; /* Espaciado interno */
    overflow-y: auto;
    flex: 1;
}
.main-login {
    position: relative;
    z-index: 1; /* Para que el contenido quede por encima del fondo */
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-opaco para el contenido */
    padding: 20px; /* Espaciado interno */
    overflow-y: auto;
}
.login{
    width: 40%;
    align-content: center;
}
.navbar {
    background-color: #4a3a47; /* Cambiar a un color oscuro para la navbar */
    z-index: 1;
}
.btn-primary {
    --bs-btn-color: var(--bs-navbar-brand-color);
    --bs-btn-bg: #4a3a47;
    --bs-btn-border-color: #4a3a47;
    --bs-btn-hover-color: #ffe7bf;
    --bs-btn-hover-bg: #4a3a47;
    --bs-btn-hover-border-color: #4a3a47;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #ffe7bf;
    --bs-btn-active-bg: #4a3a47;
    --bs-btn-active-border-color: #4a3a47;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-navbar-brand-color);
    --bs-btn-disabled-bg: #4a3a47;
    --bs-btn-disabled-border-color: #4a3a47;
    color: aliceblue;
  }
.bg-primary{
    background-color: #4a3a47;
}
.navbar-expand-lg .navbar-collapse{
    background-color: #4a3a47;
}
.bg-pri{
    background-color: #4a3a47;
}
.btn-link{
    --bs-btn-active-color: #ffe7bf;
}
a {
    color: #4a3a47;
}
.grosordeletra{
    font-weight: 500;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control:focus {
    border-color: #4a3a47;

  }
.input-group{
    border: 2px solid #4a3a47;
    border-radius: 0.58rem;
}
.table-bordered{
    border:2px #4a3a47;
    border-radius: 5px;
    overflow: hidden;
    text-align-last: center;
}
.table-bordered>:not(caption)>*>* {
    border-width: 2 var(--bs-border-width);
}
thead, td {
    border: 2px solid #4a3a47;
}
.alert-info {
    --bs-alert-color: #4a3a47;
    --bs-alert-bg: hsla(41, 64%, 74%, 0.925);
    --bs-alert-border-color: #4a3a47;
    --bs-alert-link-color: var(--bs-info-text-emphasis);
    border: 1px #4a3a47;
}
.fondocafe{
    background-color: #4a3a47;
}
.fondopastel{
    background-color: #ffe7bf;
}

#chart-container{
    width: 100%;
    height: 400px;
}

.chart{
    width: 100%;
    height: 700px;
}
#top-right-image {
    position: fixed;
    top: 7%;
    right: 3%;
    width: 216px;
    height: 90px;
    z-index: 9999;
}