{% extends 'supervisor_dashboard.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

<div class="container" id="informes-supervisor">
    <h3>Informe de Rendimiento de Detección (Supervisor)</h3>

    <!-- Mostrar mensaje de error si es necesario -->
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <!-- Formulario para filtrar por mes y año -->
    <form id="formGenerarInforme" method="get" action="{% url 'informes_supervisor' %}">
        <div class="form-group">
            <label for="mes">Mes:</label>
            <select id="mes" name="mes" class="form-control">
                <option value="1" {% if mes == "1" or mes is not defined %}selected{% endif %}>Enero</option>
                <option value="2" {% if mes == "2" %}selected{% endif %}>Febrero</option>
                <option value="3" {% if mes == "3" %}selected{% endif %}>Marzo</option>
                <option value="4" {% if mes == "4" %}selected{% endif %}>Abril</option>
                <option value="5" {% if mes == "5" %}selected{% endif %}>Mayo</option>
                <option value="6" {% if mes == "6" %}selected{% endif %}>Junio</option>
                <option value="7" {% if mes == "7" %}selected{% endif %}>Julio</option>
                <option value="8" {% if mes == "8" %}selected{% endif %}>Agosto</option>
                <option value="9" {% if mes == "9" %}selected{% endif %}>Septiembre</option>
                <option value="10" {% if mes == "10" %}selected{% endif %}>Octubre</option>
                <option value="11" {% if mes == "11" %}selected{% endif %}>Noviembre</option>
                <option value="12" {% if mes == "12" %}selected{% endif %}>Diciembre</option>
            </select>
        </div>
        <div class="form-group">
            <label for="anio">Año:</label>
            <select id="anio" name="anio" class="form-control">
                {% for anio_item in anios %}
                    <option value="{{ anio_item }}" {% if anio_item == anio %}selected{% endif %}>{{ anio_item }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Generar Informe</button>
    </form>

    <div class="pdf-container mt-4" id="pdf-container">

        <h4>Previsualización del Informe PDF:</h4>
        <iframe src="{% url 'generar_pdf_supervisor' %}?mes={{mes}}&anio={{anio}}" width="100%" height="800px"></iframe>

        <a href="{% url 'generar_pdf_supervisor' %}?mes={{mes}}&anio={{anio}}" target="_blank">
            Descargar Informe PDF
        </a>
    </div>
</div>

{% endblock %}
